- import placeholder._

- def usage(code: String, desc: String, url: String): Unit =
  code= code
  p
    span= desc
    br
    span e.g.:
    a(href={url} target="_blank")= url
    br
    br
    img(src={url})

!!! 5
html
  head
    != antiCsrfMeta
    != xitrumCss

    meta(charset="utf-8")
    title xitrum-placeholder

    link(type="text/css" rel="stylesheet" href={publicUrl("css/960/960.css")})
    link(type="text/css" rel="stylesheet" href={publicUrl("css/960/reset.css")})
    link(type="text/css" rel="stylesheet" href={publicUrl("css/960/text.css")})
    link(type="text/css" rel="stylesheet" href={publicUrl("css/app.css")})

  body
    header
      h2.title
        a(href={url[SiteIndex]}) xitrum-placeholder
      p.subtitle
        a(href="http://xitrum-framework.github.io/") Xitrum
        | implementation for
        a(href="http://placehold.it/") placehold.it

    hr

    #content
      h2 Usage
      p Use as placeholder inside img tag like below
      pre
        \&lt;img src="http://xitrum-placeholder.herokuapp.com/100" /&gt;

      h2 API

      h3
        a(href={url[xitrum.routing.SwaggerUi]}) Try Swagger UI

      ul
        li= usage("/:size",          "return the square image of the specified size.",              url[SquareActor]("width" -> 100))
        li= usage("/:width/:height", "return the rectangle image of the specified width x height.", url[RectangleActor]("width" -> 200, "height" -> 100))
        li= usage("/circle/:radius", "return the image circle of the specified radius.",            url[CircleActor]("radius" -> 100))
        li
          = usage("Option query",    "customize image with query parameter.",                       url[RectangleActor]("width" -> 150, "height" -> 100, "color" -> "black", "text" -> "xitrum", "textcolor" -> "00FF00"))
          span Available options:
          ul
            li
              span color (rrggbb or ColorName): see also
              a(href="http://www.docjar.com/docs/api/java/awt/Color.html" target="_blank") Color
            li text (String)
            li textcolor (rrggbb or ColorName)

    footer.footer
      p
        span &copy; 2013
        a(href="http://about.me/takeharu.oshida" target="_blank") Takeharu.Oshida
      p
        span Source code can be found on
        a(href="https://github.com/xitrum-framework/xitrum-placeholder" target="_blank") GitHub
        span , licenced under
        a(href="http://opensource.org/licenses/mit-license.php" target="_blank") MIT
